* {
  margin: 0;
  padding: 0;
}
body,
html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjQzODY0fQ");
  background-size: cover;
  background-repeat: no-repeat;
}
.box {
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: #2ecc71;
}

.menu {
  line-height: 80px;
  width: 120px;
  position: relative;
  top: 80px;
}
.menu a {
  display: block;
  text-align: center;
  width: 100px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Pacifico";
  /* background-color: rgba(72, 84, 96, 0.5); */
  background-color: none;
}
.menu a:hover {
  background-color: rgba(52, 73, 94, 0.8);
  line-height: 120px;
  width: 120px;
}

.curve {
  font-size: 100px;
  color: white;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Pacifico";
}
