.estrellas {
  background-color: red;
  position: relative;
  width: 520px;
  height: 300px;
  margin: 0 auto;
  font-size: 70px;
}
.estrellas span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 300px;
  margin-left: -35px;
  line-height: 530px; /* height*2 - font-size */
  text-align: center;
  transform-origin: top center;
}
.estrellas span:nth-of-type(1) {
  transform: rotate(75deg);
}
.estrellas span:nth-of-type(2) {
  transform: rotate(50deg);
}
.estrellas span:nth-of-type(3) {
  transform: rotate(25deg);
}
.estrellas span:nth-of-type(4) {
  transform: rotate(0deg);
}
.estrellas span:nth-of-type(5) {
  transform: rotate(-25deg);
}
.estrellas span:nth-of-type(6) {
  transform: rotate(-50deg);
}
.estrellas span:nth-of-type(7) {
  transform: rotate(-75deg);
}
